<h2><%= "Welcome, #{current_user.name}" %></h2> <br>
<b><%= "Current Status: #{current_user.confirmed? ? 'Confirmed' : 'Unconfirmed'}" %></b> <br>

<%= link_to('Logout', destroy_user_session_path, :method => 'delete', class: "btn btn-warning btn-lg ms-2") %>
